# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Visual Studio Code
.vscode

# Compiled files
/src/app/**/*.js
/src/app/**/*.map